<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Myblog</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">当前用户： {{currentUser}}</a></li>
          <li><a href="/logout">登出</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <form method="post" action="/post" class="well form-inline center" style="text-align:
center;">
    <input type="text" name='post' class="form-control" placeholder="输入自己想说的话">
    <button type="submit" class="btn btn-success"><i class="icon-comment icon-white">
    </i> 发表微博
    </button>
  </form>

  <!--微博内容展示-->
  <div class="container-fluid">
    {{each posts as post index}}
        {{if index%3==0}}
          <div class='row'>
        {{/if}}
          <div class='col-xs-4'>
            <h2><a href="/u/{{post.user}}">{{post.user}}</a>说:</h2>
            <p style='word-wrap: break-word;word-break: break-all;font-size: 20px;font-weight: 600''>{{post.post}}</p>
            <p><small>发布时间：{{post.time}}</small></p>
          </div>
        {{if index%3==2}}
           </div>
        {{/if}}
    {{/each}}
    {{if posts.length%3!=0}}
     </div>
    {{/if}}
  </div>
  <footer>
    <p style='text-align: center'><a href="https://github.com/frank320" target="_blank">版权所有@Frank</a> 2016</p>
  </footer>
</div>
</body>
<script src='/js/jquery.js'></script>
<script src='/js/bootstrap.min.js'></script>
</html>